/*----Global styles---- */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Signika&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background: #FFD700;
    height: 90px;

}

/*----Kevin Powell YouTube video---- */
header::after {
    content: '';
    display: table;
    clear: both;
}

/*----X Kevin Powell YouTube video X---- */

body {
    font-family: Signika, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: Dosis, sans-serif;
    color: #303159;
    font-size: 3rem;
}

h2 {
    font-family: Dosis, sans-serif;
    color: #FFD700;
    font-size: 2em;
}

h3 {
    font-family: Dosis, sans-serif;
    color: #FFD700;
    font-size: 1em;
}

sup {
    font-size: 14px;
}

/*----Logo and Nav ---- */

.logo-nav {
    margin: 0;
    line-height: 80px;
}

#logo {
    float: left;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

#navbar {
    float: right;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 1em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 50px 0 0;
}

nav a {
    text-decoration: none;
    color: #303159;
    background: #FFD700;
    padding: 5px 10px;
    border-radius: 15px 50px;
}

nav a:hover {
    color: #FFD700;
    background: #303159;
}

/*----Hero Image and hero cover text ---- */
/*---Code sourced from Love Running project run through----*/

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-text,
#hero-text h2 {
    color: #FFD700;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/training-image1.jfif) no-repeat center center;
    animation: hero-zoom 6s forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

#hero-question {
    font-family: Dosis, sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
    text-align: center;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(26, 42, 90, .6);
    border-radius: 15px 50px;

    bottom: 30px;
    left: 500px;
    position: absolute;
}

/*----YouTube style ---- */

div>iframe {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(26, 42, 90, .9);
    border-radius: 15px 50px;
    box-shadow: 5px 10px ;
}

/*--Subheading--*/

.subheading h2 {
    color: #303159;
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

/*--Professional player testimonals--*/

.testimonal-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

#rash-box, #foden-box, #gomes-box  {
    height: 400px;
    width: 600px;
    background-color: rgba(26, 42, 90, .8);
    border-radius: 15px 50px;
    text-align: center;
    padding-top: 30px;
    box-shadow: 5px 10px;
}

.testimonal-wrapper img {
    max-height: 150px;
    max-width: 150px;
}

.testimonal-wrapper p {
    margin: 10px 0 20px;
    justify-content: center;
    color: #fff;
}

/*--buttons with internal links--*/

.index-button-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
