/*----Global styles---- */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Signika&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background: #FFD700;
    height: 90px;
    max-width: 100%;

}

/*----X Kevin Powell YouTube video X---- */
header::after {
    content: '';
    display: table;
    clear: both;
}

/*----X Kevin Powell YouTube video X---- */

body {
    font-family: Signika, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    font-family: Dosis, sans-serif;
    color: #303159;
    font-size: 2rem;
}

/*--Subheading--*/

.subheading h2 {
    font-family: Dosis, sans-serif;
    color: #303159;
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    padding: 20px;
}

h2 {
    font-family: Dosis, sans-serif;
    color: #FFD700;
    font-size: 1em;
}

h3 {
    font-family: Dosis, sans-serif;
    color: #FFD700;
    text-decoration: underline;
    font-size: 1em;
    text-align: center;
}

sup {
    font-size: 14px;
}

/*----Logo and Nav bar ---- */

.logo-nav {
    margin: 0;
    line-height: 80px;
}

#logo {
    float: left;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

#logo-short {
    display: none;
    float: left;
    letter-spacing: 3px;
    margin-right: 10px;
}

#navbar {
    float: right;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 1em;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #303159;
    background: #FFD700;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 15px 50px;
}

nav a:hover {
    color: #FFD700;
    background: #303159;
    transition: .5s;
}

.checkbtn-nav {
    float: right;
    font-size: 25px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#nav-checkbox {
    display: none;
}

/*----Hero Image and hero cover text ---- */
/*---Code sourced from Love Running project run through----*/

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#hero-text h2 {
    color: #FFD700;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/training-image1.jfif) no-repeat center center;
    animation: hero-zoom 6s forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-question {
    font-family: Dosis, sans-serif;
    font-size: 1.6em;
    letter-spacing: 3px;
    text-align: center;
    width: 400px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(26, 42, 90, .6);
    border-radius: 15px 50px;
    bottom: 30px;
    left: 30%;
    position: absolute;
}

/*----Main text Paragraph ---- */

.index-intro {
    text-align: center;
    margin: 10px 20px;
}

.index-intro strong {
    color: #FFD700;
    background: #303159;
}



/*----YouTube style ---- */

.youtube>iframe {
    width: 700px;
    height: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(26, 42, 90, .9);
    border-radius: 15px 50px;
    box-shadow: 5px 10px;
}

/*--Professional player testimonals--*/

.testimonal-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.players-box {
    height: 300px;
    width: 400px;
    background-color: rgba(26, 42, 90, .8);
    border-radius: 15px 50px;
    text-align: center;
    padding-top: 10px;
}

.players-box:hover {
    transform: scale(1.10);
    transition: all 300ms ease-in-out;
}

.players-box img {
    max-height: 100px;
    max-width: 150px;
}

.testimonal-wrapper p {
    margin: 10px 10px 20px;
    justify-content: center;
    color: #fff;
}

/*-- buttons with internal links--*/

.index-button-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap: 10px;
    width: 100%;
}

.meet-button,
.timetable-button {
    border-radius: 40px;
    background-color: rgba(26, 42, 90, .8);
    border: none;
    color: #FFD700;
    text-align: center;
    font-family: Dosis, sans-serif;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    margin: 50px 30px;
    box-shadow: 0 6px #999;
}

.sign-button {
    border-radius: 40px;
    background-color: #FFD700;
    border: none;
    color: rgba(26, 42, 90, .8);
    text-align: center;
    font-family: Dosis, sans-serif;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    margin: 50px 10px;
    box-shadow: 0 6px #999;
}

/*-- buttons animation--*/

.meet-button:hover {
    background-color: rgba(1, 14, 53, 0.8);
}

.timetable-button:hover {
    background-color: rgba(1, 14, 53, 0.8);
}

.sign-button:hover {
    background-color: #dbbb02;
}

.meet-button:active {
    background-color: rgba(1, 14, 53, 0.8);
    box-shadow: 0 5px #666;
    transform: translateY(5px);
    text-decoration: none;
    color: #FFD700;
}

.meet-button:visited {
    text-decoration: none;
    color: #FFD700;
}

.meet-button a {
    text-decoration: none;
    color: #FFD700;
}

.timetable-button:active {
    background-color: rgba(1, 14, 53, 0.8);
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.timetable-button:visited {
    text-decoration: none;
    color: #FFD700;
}

.timetable-button a {
    text-decoration: none;
    color: #FFD700;
}

.sign-button:active {
    background-color: #dbbb02;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.sign-button:visited {
    text-decoration: none;
    color: rgba(1, 14, 53, 0.8);
}

.sign-button a {
    text-decoration: none;
    color: rgba(1, 14, 53, 0.8);
}

/*--Footer--*/

footer {
    background: #FFD700;
    height: 130px;
    overflow: hidden;
    width: 100%;
}

footer:after {
    content: '';
    display: table;
    clear: both;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline-block;
    align-items: center;
}

.social-links i {
    font-size: 2em;
    margin: 5px 30px 5px;
    padding: 5%;
    color: rgba(1, 14, 53, 0.8);
}

footer p {
    font-family: inherit;
    text-align: center;
}

.footer-text {
    margin: 0 10px 0;
}

/*--Coaches Page--*/
/*--Grid template design with help from stack overflow--*/

#coaches-info {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    padding-top: 40px;
}

.vinnie {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 380px;
    width: 300px;
    background-color: rgba(1, 14, 53, 0.8);
    border-radius: 15px 50px;

}

.leroy {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 380px;
    width: 300px;
    background-color: rgba(1, 14, 53, 0.8);
    border-radius: 15px 50px;
}

.haris {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 380px;
    width: 300px;
    background-color: rgba(1, 14, 53, 0.8);
    border-radius: 15px 50px;
}

.ibrahim {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 380px;
    width: 300px;
    background-color: rgba(1, 14, 53, 0.8);
    border-radius: 15px 50px;
}

/*--Coaches card image, text style--*/

.coaches-image {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #FFD700;
    padding: 5px;
}

#coaches-info h2 {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 5px;

}

#coaches-info p {
    color: #fff;
    font-size: 16px;
    text-decoration: overline;
    padding-bottom: 3px;

}

#coaches-info li {
    margin-top: 3px;
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
}

#coaches-info i {
    color: #FFD700;
}

/*--Coaches card animation--*/

#coaches-card:hover {
    transform: scale(1.10);
    transition: all 300ms ease-in-out;
}

/*--Prices and sessions page--*/

/*--Prices info--*/

.prices>h3 {
    color: rgba(1, 14, 53, 0.8);
    padding-top: 10px;
    font-weight: bold;
}

.prices>p {
    padding-top: 10px;
    margin: 0 20px;
}

#contact {
    background-color: rgba(1, 14, 53, 0.8);
    color: #FFD700;
    text-decoration: underline;
}

#contact:hover {
    background-color: #FFD700;
    color: rgba(1, 14, 53, 0.8);
    text-decoration: underline;
    font-weight: bold;
}

/*--Sessions  image--*/

#sessiontimes {
    background-image: url(../images/sessions-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    overflow: hidden;
}

#sessiontimes div {
    background-color: rgba(1, 14, 53, 0.6);
    width: 20%;
    height: 250px;
    float: left;
    border: 5px solid #fff;
    box-sizing: border-box;
    text-align: center;
}

.session-heading {
    color: #fff;
}

#sessiontimes h3 {
    padding-top: 5px;
    color: #FFD700;
    font-weight: 800;
}

/*--Google map--*/

#map {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0px;
}

/*--Coaches page sign up button--*/

#session-signup {
    margin: 15px 0px 25px 0px;
}

/*--Sign Up Page--*/

.form-section {
    background-image: url(../images/signup-image.WebP);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 800px;
}

.signup-form {
    color: #fff;
    background-color: rgba(1, 14, 53, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 500px;
    border: 2px solid #FFD700;
    border-radius: 15px 50px;
    padding: 30px;
}


.signup-form>h2 {
    color: #fff;
    font-size: 2rem;
    margin: 0px 0px 20px;
}

/*--Text input--*/

.form-input {
    color: #fff;
    background-color: #303245;
    border-radius: 1px solid #fafafa;
    border-radius: 12px;
    height: 30px;
    width: 100%;
    margin: 5px 5px;
    font-weight: 800;
    text-align: center;
}

.form-input:hover {
    border-color: #FFD700;
}

/*--Dropdown options--*/

SELECT {
    color: #fff;
    background-color: #303245;
    width: 100%;
    border: 1px solid #fafafa;
    font-weight: bold;
    text-align: center;
}

OPTION {
    color: #fff;
    background-color: #303245;
    font-style: italic;
    font-weight: bold;
}

.select-box {
    border-radius: 12px;
    margin: 5px 5px;
    height: 30px;
}

/*--Reset button--*/

.form-buttons {
    display: flex;
    flex: inline-block;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.reset-button {
    width: 100px;
    margin-top: 20px;
    border-radius: 12px;
    padding: 15px 15px;
    text-align: center;
    font-size: 100%;
    background-color: #fff;
    color: #303245;
    cursor: pointer;
}

.reset-button:hover {
    color: #fff;
    background-color: #303245;
}

/*--Sign-up button--*/

.signup-btn {
    width: 100px;
    margin-top: 20px;
    border-radius: 12px;
    padding: 15px 15px;
    text-align: center;
    font-size: 100%;
    font-weight: 800;
    background-color: #cfb108;
    color: rgba(1, 14, 53, 0.8);
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #FFD700;
}

/*--Contact info--*/

.contact-info {
    margin: 30px;
}

.contact-info h2 {
    font-family: Dosis, sans-serif;
    color: #303159;
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px;
}

/*--Thank you page--*/

.thankyou-image {
    background-image: url(../images/thankyou-image.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.thankyou-text {

    font-family: Dosis, sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
    text-align: center;
    width: 400px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(26, 42, 90, .6);
    border-radius: 15px 50px;
    bottom: 50%;
    left: 55%;
    position: absolute;
}

.thankyou-text a {
    color: #fafafa;
}

/*--Media Queries--*/

/*----Media Queries for x-large screens ---- */
/*---Coding help from codingNepal youtube video---*/
@media (max-width: 1330px) {
    .checkbtn-nav {
        display: block;
    }

    #navbar {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100vh;
        background: #FFD700;
        top: 90px;
        left: -100%;
        text-align: center;

    }

    #navbar li {
        display: block;
    }

    #nav-checkbox:checked~ul {
        left: 0;
        transition: .6s;
    }

    #hero-outer {
        z-index: 1;
    }

    .testimonal-wrapper {
        flex-direction: column;
    }

    .players-box {
        margin-top: 20px;
    }
}

/*----Media Queries for large screens ---- */
@media (max-width: 1175px) {
    #sessiontimes>div {
        width: 100%;
        clear: both;
        height: 200px;
        padding: 0;
    }

    .thankyou-text {
        left: 48%;
    }
}

/*----Media Queries for Medium sized screens---- */

@media (max-width: 900px) {
    #logo {
        font-size: 1.8rem;
    }

    .index-button-wrapper {
        flex-direction: column;
        margin: 0;
    }

    .meet-button,
    .timetable-button,
    .sign-button {
        margin: 15px 0;
    }

    footer {
        margin-top: 10px;
    }

    .thankyou-text {
        left: 38%;
    }
}

/*----Media Queries for smaller/Medium sized screens---- */
@media (max-width: 750px) {
    #hero-question {
        left: 20%;
    }

    .youtube>iframe {
        width: 600px;
        height: 500px;
    }

    #coaches-info {
        display: grid;
        clear: both;
    }

    .vinnie,
    .leroy,
    .haris,
    .ibrahim {
        grid-column: 1 / 5;
    }

    .vinnie {
        grid-row: 1;
        margin: 0 auto;
    }

    .leroy {
        grid-row: 2;
        margin: 0 auto;
    }

    .haris {
        grid-row: 3;
        margin: 0 auto;
    }

    .ibrahim {
        grid-row: 4;
        margin: 0 auto;
    }

    footer p {
        font-size: 12px;
        padding: 0 5px;
    }

    .thankyou-text {
        left: 25%;
    }
}

/*----Media Queries for small sized screens---- */
@media (max-width: 630px) {
    #logo {
        float: left;
        margin: 0;
        padding: 0 10px;
        font-size: 1.4em;
    }

    #hero-question {
        height: 200 px;
        width: 350 px;
        bottom: 50px;
        left: 20%;
        position: absolute;
    }

    #hero-text h2 {
        font-size: 1.4em;
    }

    .subheading h2 {
        font-size: 1.2em;
        font-weight: 800;
        margin: 30px 0;
        padding: 0;
    }

    .testimonal-wrapper {
        margin-top: 0;
    }

    .youtube>iframe {
        width: 450px;
        height: 350px;
    }

    .session-heading {
        font-size: 1.2em;
    }

    .contact-info h2 {
        font-size: 1.2em;
    }

    #coaches-card {
        transform: scale(1.05);
        transition: all 300ms ease-in-out;
    }

    .signup-form {
        width: 350px;
    }

    .reset-button,
    .signup-btn {
        padding: 5px 10px;
    }
}

/*----Media Queries for x-small sized screens---- */
@media (max-width: 550px) {
    #logo {
        display: none;
    }

    #logo-short {
        display: block;
        font-size: 1.2em;
        margin: 0;
        padding: 0 10px;
    }

    .checkbtn-nav {
        font-size: 14px;
    }

    #hero-outer {
        height: 300px;
    }

    #hero-question {
        height: 150px;
        width: 300px;
        bottom: 50px;
        left: 15%;
        position: absolute;
    }

    #hero-text h2 {
        font-size: 1em;
    }

    .youtube>iframe {
        width: 300px;
        height: 250px;
        padding: 10px;
        border-radius: 5px 40px;
        box-shadow: 3px 8px;
    }

    .players-box {
        height: 320px;
        width: 300px;
        transform: scale(1);
    }

    .timetable-button,
    .meet-button {
        width: 200px;
        font-size: 20px;
        padding: 10 px;
    }

    .sign-button {
        width: 200px;
        font-size: 20px;
        padding: 10 px;
    }

    .social-links li a {
        font-size: 12px;
    }

    #coaches-card h2 {
        font-size: 18px;
    }

    .thankyou-text {
        height: 200px;
        width: 300px;
        left: 15%;
        position: absolute;
    }

    .thankyou-text h2, p {
        font-size: .8em;
    }
}

/*----Media Queries for x-small mobile screens---- */
@media (max-width: 360px) {
    body {
        font-size: 14px;
    }

    #logo {
        display: none;
    }

    #logo-short {
        display: block;
        font-size: 14px;
        margin: 0;
        padding: 0 10px;
    }
    .checkbtn-nav {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 14px;
    }

    #hero-outer {
        height: 250px;
    }

    #hero-question {
        height: 130px;
        width: 250px;
        left: 15%;
        position: absolute;
    }

    #hero-text h2 {
        font-size: 0.8em;
    }

    .players-box {
        width: 280px;
        height: 280px;
    }

    .timetable-button,
    .meet-button {
        width: 180px;
        font-size: 18px;
        padding: 5 px;
    }

    .sign-button {
        width: 180px;
        font-size: 18px;
        padding: 5 px;
    }

    .social-links li a {
        font-size: 10px;
    }

    #coaches-card {
        width: 280px;
        height: 350px;
    }

    #coaches-card ul li {
        font-size: 12px;
    }

    .thankyou-text {
        height: 150px;
        width: 250px;
        left: 10%;
        position: absolute;
    }

    .thankyou-text h2, p {
        font-size: .7em;
    }
}