/*----Global styles---- */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Signika&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background: #FFD700;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: Signika, sans-serif;
    color: black;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

h1, h2 {
    font-family: Dosis, sans-serif;
    color: #303159;
    font-size: 3rem;
}

sup {
    font-size: 14px;
}

/*----Logo and Nav ---- */

.logo-nav {
    margin: 0;
    line-height: 60px;
}

#logo {
    float: left;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

#navbar {
    float: right;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 1em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 50px 0 0;
}

nav a {
    text-decoration: none;
    color: #303159;
}

nav a:hover {
    border-bottom: 1px solid #303159;
}

/*----Hero Image ---- */

#hero-outer {
    height: 600px;
    width:100%;
}

#hero-image {
    height: 600px;
    width:100%;
    background: url(../images/training-image1.jfif) no-repeat center center;
    
}

