/*----Global styles---- */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Signika&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background: #FFD700;
    height: 90px;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: Signika, sans-serif;
    color: black;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: Dosis, sans-serif;
    color: #303159;
    font-size: 3rem;
}

h2 {
    ont-family: Dosis, sans-serif;
    color: #303159;
    font-size: 2rem;
}

sup {
    font-size: 14px;
}

/*----Logo and Nav ---- */

.logo-nav {
    margin: 0;
    line-height: 60px;
}

#logo {
    float: left;
    letter-spacing: 3px;
    margin: 0 0 0 50px;
}

#navbar {
    float: right;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 1em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 50px 0 0;
}

nav a {
    text-decoration: none;
    color:  #303159;
    background: #FFD700;
    padding: 5px 10px;
    border-radius: 15px 50px;
}

nav a:hover {
    color:  #FFD700;
    background: #303159;
}

/*----Hero Image ---- */

#hero-outer {
    height: 400px;
    width: 100%;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/training-image1.jfif) no-repeat center center;
    animation: hero-zoom 6s forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}